<h1>Questionaire results for <%= @questionnaire.name %></h1>

<p> Full Name: <%= @questionnaire.name %>. </p>
<p> Email: <%= @questionnaire.email %>. </p>
<p> Project Repo: <%= @questionnaire.projectrepo %>. </p>
<p> Project URL: <%= @questionnaire.projecturl %>. </p>
<p> Using Best Practices for OPP: <%= @questionnaire.usingbestpracticesforopp %>. </p>
<p> Modular Development: <%= @questionnaire.modulardevelopment %>. </p>
