<div class="outerbackground">



<form class="trimform">


<%= form_for(questionnaire) do |f| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :name, :class => 'form-control', :placeholder => 'FULL NAME' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :email, :class => 'form-control', :placeholder => 'EMAIL' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :projectrepo, :class => 'form-control', :placeholder => 'PROJECT REPO' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :projecturl, :class => 'form-control', :placeholder => 'PROJECT URL' %>
  </div>

  <div class="field form-group row">
    <label for="example-number-input" class="col-10 col-form-label">USING BEST PRACTIVES FOR OPP:</label>
  <div class="col-1">
    <%= f.number_field :usingbestpracticesforopp, :class => 'form-control', :placeholder => '10', :id => 'example-number-input' %>
    </div>
  </div>

  <div class="field form-group row">
    <label for="example-number-input" class="col-6 col-form-label">MODULAR DEVELOPMENT:</label>
  <div class="col-1">
    <%= f.text_field :modulardevelopment, :class => 'form-control', :placeholder => '20', :id => 'example-number-input' %>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary" id="SUBMIT"> <%= f.submit 'SUBMIT' %> </button>
  </div>
<% end %>

</form>
</div>
