<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questionnaire.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @questionnaire.email %>
</p>

<p>
  <strong>Projectrepo:</strong>
  <%= @questionnaire.projectrepo %>
</p>

<p>
  <strong>Projecturl:</strong>
  <%= @questionnaire.projecturl %>
</p>

<p>
  <strong>Usingbestpracticesforopp:</strong>
  <%= @questionnaire.usingbestpracticesforopp %>
</p>

<p>
  <strong>Modulardevelopment:</strong>
  <%= @questionnaire.modulardevelopment %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
